*{
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.link{
  text-decoration: inherit;
  all: unset;
  cursor: pointer;
  color: #494949;
  font-weight: 500;
}
.link:hover {
  color: #3b3b3b;
}
.active-link{
  color: #535bf2;
}
ul{
  list-style: none;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}